/* Generelt*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #606c38;
    font-family: monospace;
}

/* classes */

.indhold {
    padding-top: 100vh;
    /*100% af viewportens højde, altså padding vil være 100% af browserens højde*/
    margin-left: 18vw;
    margin-right: 18vw;

}

.logo {
    width: 25vw;
    position: absolute;
    top: 5%;
    left: 0;
    padding: none;
    z-index: 2;
}

.knappen {
    position: absolute;
    top: 50%;
    /*rykker hjørnet 50% ned og 50% højre*/
    left: 50%;
    transform: translate(-50%, -50%);
    /* sikrer at det midtpunktet af knappen der bliver rykket 50%*/
    display: inline-block;
    border-radius: 20px;
    background-color: #606c38;
    border: none;
    color: #fefae0;
    font-size: 28px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    margin: 5px;
}

.knappen span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.knappen span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.knappen:hover span {
    padding-right: 20px;
}

.knappen:hover span:after {
    opacity: 1;
    right: 0;
}

.indhold2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 18vw;
    padding: 20px;

}

/*Id*/

#forsidevideo {
    position: absolute;
    /* gør videoen frit fra de omkringliggende elementer*/
    top: 0;
    /*Sætter margenet helt oppe fra hjørnet*/
    left: 0;
    /*--||--*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*sikrer at det dækker hele siden uden proportionerne ødelægges*/
    z-index: -1;
    /*angiver hvilket lag objektet ligge i*/
}

#overskrift {
    font-size: 30px;
    font-family: monospace;
}

#boks1 {
    margin-right: 50vw;
    text-align: justify;
    /*lave helt margin (hverken venstre eller højre margin)*/

}

#boks1overskrift {
    text-align: center;
}

#anker1 {
    color: #fefae0;
}

#citat {
    font-size: 40px;

}

#citatforfatter {
    font-size: 25px;
}